{{! This template is used to generate javascript functions from a given AST of iris nodes }}
{{! The functions generated either represent the root template being compiled, or the template of a partial }}
{{! Root templates are anonymous functions of a single argument: the data }}
{{! Partial templates are named functions of a two arguments: the data and the indentation level }}
{{! The partial templates of root templates appear in the closure of the compiled root template }}

{{! Function declaration }}
function
{{#partialTemplate}}{{{name}}}(data, indentation){{/partialTemplate}}
{{^partialTemplate}}(data){{/partialTemplate}}

{{! Function body }}
{
  var cursor;
  var context = data;
  return (""{{#nodes}} + ({{> moveCursor}} {{> node}}){{/nodes}});

  {{#partials}}
    {{> function}}
  {{/partials}}
}