{{#name}}
function {{{name}}}(data, indentation) {
{{/name}}
{{^name}}
function(data) {
  var indentation = '';
{{/name}}
  var cursor;
  var context = data;
  var result = {{{initialResultExpr}}};

  {{#nodes}}{{> node}}{{/nodes}}

  return result;
}