{{#ofPartial}}
function {{{name}}}(data, indentation) {
{{/ofPartial}}
{{^ofPartial}}
function(data) {
{{/ofPartial}}

  var cursor;
  var context = data;
  return (""
  {{#nodes}}
    +
    ({{> node}})
  {{/nodes}});

  {{#partials}}
    {{> template}}
  {{/partials}}
}
