{{#ofPartial}}
function {{{name}}}(data, indentation) {
{{/ofPartial}}
{{^ofPartial}}
function(data) {
{{/ofPartial}}

  var cursor;
  var context = data;
  var result = {{{initialResultExpr}}};

  {{#nodes}}
    {{> node}}
  {{/nodes}}

  return result;

  {{#partials}}
    {{> template}}
  {{/partials}}
}
